mixin top-menu()
	nav.top-menu
		.top-menu__item
			a(href="#" title="").top-menu__link Главная
			span Главная страница сайта
		.top-menu__item
			a(href="#" title="").top-menu__link Тендеры
			span Заявки на ремонт и строительство
		.top-menu__item
			a(href="#" title="").top-menu__link Подрядчики
			span Заявки на ремонт и строительство
			.top-menu-inside
				a(href="#" title="").top-menu-inside__link Ремонт и отделка
				a(href="#" title="").top-menu-inside__link Строительство
		.top-menu__item
			a(href="#" title="").top-menu__link Новости
			span Статьи, новости, акции
		.top-menu__item
			a(href="#" title="").top-menu__link Обратная связь
			span Ваши предложения и отзывы