.news-full-content {
	color: #6a6a6a;

	font-size: em(16px);

	@extend .main-content;
	h1 {
		margin-top: 15px;
		margin-bottom: 15px;

		@extend .title;
	}
	img[align="left"] {
		margin-right: 15px;
		margin-bottom: 10px;
	}
	span {
		display: block;

		text-align: right;

		color: #9f9f9f;

		font-size: em(14px);
	}
	p {
		text-align: justify;

		line-height: em(16px, 16px);
	}
	&__social {
		margin-top: 15px;
		margin-bottom: 25px;
		img {
			display: block;
			margin-top: 7px;
		}
	}
}
