.contractor-content {
	width: 100%;
}
.contractor-back {
	position: relative;

	margin-left: 28px;

	text-decoration: none;

	color: $blue;

	font-size: em(14px);
	&:hover {
		text-decoration: underline;
	}
	&:before {
		top: 0;
		left: -28px;

		@include bg($contractor-back);
		@include content;
	}
}

.contractor-block {
	display: flex;

	width: 100%;
	margin-top: 15px;
	padding: 10px;

	border: 1px solid #acacac;

	align-items: flex-start;
	justify-content: space-between;
}
.contractor-block-avatar {
	width: 197px;
	&__btn {
		width: 100%;
		padding-left: 0;

		text-align: center;

		@extend .btn;
	}
}


.contractor-block-info {
	display: flex;

	width: 430px;

	flex-wrap: wrap;
	justify-content: flex-start;
	&__name {
		width: 100%;

		color: #1883bf;

		font-size: em(14px);
		font-weight: 700;
	}
	&__service {
		width: 100%;
		margin: 15px 0;

		color: #6a6a6a;

		font-size: em(14px);
		span {
			display: block;

			color: #6a6a6a;

			font-size: em(14px);
		}
		a {
			position: relative;
			left: 3px;

			color: #1883bf;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__contact {
		position: relative;

		width: 28%;
		margin-bottom: 22px;
		padding-left: 25px;

		font-size: em(14px);
		span {
			display: block;

			color: #6a6a6a;

			font-size: em(14px);
		}
		a {
			color: #1883bf;
			&:hover {
				text-decoration: none;
			}
		}
		&:before {
			left: 0;

			@include content;
		}
		&--phone {
			&:before {
				@include bg($contractor-block-phone);
			}
		}
		&--email {
			&:before {
				top: 2px;
				left: 1px;

				@include bg($contractor-block-email);
			}
		}
		&--address {
			&:before {
				@include bg($contractor-block-address);
			}
		}
		&--site {
			&:before {
				@include bg($contractor-block-site);
			}
		}
	}
	&__rating {
		display: flex;

		width: 100%;

		align-items: center;
		justify-content: space-between;
		a {
			display: block;

			box-sizing: border-box;
			width: 96px;
			height: 26px;

			text-align: center;
			text-decoration: none;

			color: #acacac;
			border: 1px solid #acacac;
			border-radius: 5px;

			font-size: em(14px);
			line-height: 26px;
			&:hover {
				color: #1883bf;
				border-color: #1883bf;
			}
		}
	}
}

.contractor-block-images {
	display: flex;

	width: 501px;
	height: 172px;

	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	img {
		&:hover {
			cursor: pointer;

			filter: brightness(150%);
		}
	}
}

.contractor-meta {
	display: flex;

	width: 100%;
	margin-top: 16px;

	align-items: flex-start;
	justify-content: space-between;
	&__baner {
		width: 225px;
		margin-right: 16px;
	}
}

.contractor-tabs {
	width: 960px;
}

.contractor-tabs-control {
	display: flex;

	justify-content: flex-start;
	&__item {
		position: relative;

		display: block;

		height: 32px;
		margin-right: 34px;
		padding-left: 28px;

		text-decoration: none;

		color: #6a6a6a;

		font-size: em(14px);
		line-height: 32px;
		&:before {
			top: 0;
			left: 0;

			@include content;
			@include bg($tabs-control);
		}
		&:hover,
		&.active {
			text-decoration: underline;

			color: #1883bf;
			&:before {
				@include bg($tabs-control-active);
			}
		}
	}
}

.contractor-tabs-box {
	position: relative;
	&__item {
		position: absolute;
		top: 0;
		left: 0;

		visibility: hidden;
		overflow: hidden;

		height: 0;
		&.active {
			position: relative;

			visibility: visible;
			overflow: auto;

			height: auto;
		}
	}
}

.contractor-tabs-description {
	p {
		color: #6a6a6a;

		font-size: em(14px);
	}
}

.contractor-tabs-license {
	display: flex;

	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	img {
		margin-top: 10px;
	}
}

.contractor-tabs-reviews {
	padding-top: 10px;
}

.contractor-tabs-reviews-item {
	display: flex;

	align-items: flex-start;
	justify-content: space-between;
	&__img {
		width: 172px;
		margin-right: 16px;
	}
	&__content {
		display: flex;

		padding-top: 10px;

		color: #999;

		font-size: em(14px);

		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	&__name {
		margin-right: 20px;

		color: #6a6a6a;
	}
	&__rating {
		margin-top: 2px;
		margin-right: 20px;
		&--like {
			@include bg($like);
		}
		&--dislike {
			@include bg($dislike);
		}
	}
	&__date {
		span {
			padding-left: 15px;
		}
	}
	&__text {
		width: 100%;
	}
}

.contractor-tabs-cost {
	width: 100%;
	margin-top: 10px;

	color: #6a6a6a;
	border: 1px solid #b7b7b7;
	border-collapse: collapse;

	font-size: em(14px);
	tr {
		border: 1px solid #b7b7b7;
		&:first-child {
			text-align: center;
		}
	}
	td {
		padding: 6px 10px;

		border: 1px solid #b7b7b7;
		&:first-child {
			text-align: center;
		}
	}
}

.portfolio {
	display: flex;

	padding-top: 15px;

	align-items: flex-start;
	justify-content: space-between;
}
.portfolio-sliders {
	position: relative;

	width: 600px;
}

.portfolio-slider {
	visibility: hidden;
	overflow: hidden;
	height: 0;
	&.active {
		visibility: visible;
		overflow: auto;

		height: auto;
	}
}

.portfolio-slider-small {
	padding-top: 10px;
	img {
		// width: 84px !important;
		height: 60px;
		margin: 0 5px;

		filter: brightness(50%);
		&.slick-center {
			filter: brightness(100%);
		}
	}
	.slick-next,
	.slick-prev {
		position: absolute;
		top: 10px;

		text-indent: -9999px;

		border: 0;
		&:focus {
			outline: none;
		}
	}
	.slick-prev {
		left: 0;

		@include bg($portfolio-slider-prev);
		&:hover {
			@include bg($portfolio-slider-prev-active);
		}
	}
	.slick-next {
		right: 0;

		@include bg($portfolio-slider-next);
		&:hover {
			@include bg($portfolio-slider-next-active);
		}
	}
}

.portfolio-albums {
	overflow-y: scroll;

	width: 340px;
	height: 430px;
}

.portfolio-album {
	margin-bottom: 20px;

	@include cf;
	&:hover {
		cursor: pointer;
	}
	&.active {
		.portfolio-album__title {
			color: $blue;
		}
		.portfolio-album__count {
			span {
				background: $blue;
			}
		}
	}
	&__preview {
		float: left;

		margin-right: 20px;
	}
	&__title {
		margin-top: 12px;
		margin-bottom: 10px;

		color: #737373;

		font-size: em(14px);
	}
	&__count {
		color: #6a6a6a;

		font-size: em(14px);
		span {
			margin-left: 5px;
			padding: 2px 10px 0;

			background: #ffd200;

			line-height: 1;
		}
	}
}
