mixin service()
	.service
		.service__title КАК УСТРОЕН СЕРВИС?

		.service-block.service-block--n1
			a(href="#" title="").service-block__link Добавьте тендер
			.service-block__text Вы можете выбрать мастеров и пригласить их участвовать в тендере, или просто разместить тендер и получить предложения от заинтересовавшихся мастеров.

		.service-block.service-block--n2
			a(href="#" title="").service-block__link Изучите предложения
			.service-block__text Заинтересовавшиеся мастера оставят свои предложения на выполнение работ. Вы сможете оценить мастеров на основании рейтинга, портфолио и отзывов. 

		.service-block.service-block--n3
			a(href="#" title="").service-block__link Выберите исполнителя
			.service-block__text Выберите предложение наиболее подходящего мастера. При назначении Реального мастера исполнителем, Real Master бесплатно предоставит страховку на сумму выполненных работ. 
			
		.service-block.service-block--n4
			a(href="#" title="").service-block__link Оцените работу
			.service-block__text После выполнения необходимых работ оставьте отзыв о мастере. Ваш отзыв повлияет на рейтинг мастера и поможет другим заказчикам принять верное решение при выборе исполнителя.

		.service__bottom
			a(href="#" title="").btn.btn--tender ОБЪЯВИТЬ ТЕНДеР
			