mixin search-contractor()
	.search-contractor
		.search-contractor-block
			.search-contractor__title РЕМОНТ И ОТДЕЛКА
			.search-contractor__img.search-contractor__img--repair
			a(href="#" title="").search-contractor__btn НАЙТИ подрядчика для РЕМОНТа
				span от левкаса до дизайнерского ремонта

		.search-contractor-block
			.search-contractor__title СТРОИТЕЛЬСТВО
			.search-contractor__img.search-contractor__img--build
			a(href="#" title="").search-contractor__btn НАЙТИ подрядчика для СТРОИТельстВа
				span от забора до жилого дома