mixin main-img()
	section.main-img
		.main-img__content
			.main-img__title Найдите своего Подрядчика не выходя из дома!
			a(href="#" title="" data-click="modal" data-item="#specialization").btn.btn--search Выбрать специализацию