include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../main-img/main-img
include ../main-content/main-content
include ../search-contractor/search-contractor
include ../service/service
include ../seo-text/seo-text
include ../sidebar/sidebar
include ../footer/footer

include ../modals/modals

include ../registration-contractor-content/registration-contractor-content
include ../news-content/news-content
include ../news-full-content/news-full-content
include ../contractor-content/contractor-content
include ../search-contractor-content/search-contractor-content
include ../tenders-content/tenders-content